body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size 16px;
    background-color: #004780;
}

header{
    margin-top: 2vw;
    display: flex;
    width: auto;
    height: 15vw;
    color: white;
    font-weight: bold;
}

.logo-one{
    background-color: #004780;
}

.Seperator{
    background-color: #004780;
    color: #004780;
}

main{
    background-color: white;
}

select{
    margin-bottom: 10px;
}


button{
    background-color: white;
    color: #004780;
    border-radius: 30px;
    border-color: black;
}

.deletion{
    background-color: crimson;
    border-color: crimson;
    color: black;
}

.cancel{
    background-color: gold;
    border-color: black;
    color: black;
}

.hero_pic{
    width: auto;
    height: 60vw;
    margin: 1vw;
}

footer{
    background-color: #004780;
    color: white;
    font-weight: bold;
}

.logo-two{
    width: auto;
    height: 10vw;
    background-color: #004780;
    margin-top: 2vw;
}

.icon_list{
    margin-top: 10px;
}

.menu{
    background-color: #004780;
}

.bottom-screen{
    display: grid;
}