body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size 16px;
}

header{
    display: flex;
    width: auto;
    height: 15vw;
    color: white;
    font-weight: bold;
}

.logo-one{
    background-color: #004780;
}

.Seperator{
    background-color: #004780;
    color: #004780;
}

.hero_pic{
    width: auto;
    height: 60vw;
    margin: 1vw;
}

footer{
    background-color: #004780;
    color: white;
    font-weight: bold;
}

.logo-two{
    width: auto;
    height: 10vw;
    background-color: #004780;
}

.menu{
    background-color: #004780;
}
