body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size 16px;
}

header{
    display: grid;
    grid-template-columns: minmax(178vw,178vw);
    width: auto;
    height: 15vw;
}

.logo{
    width: 30vw;
    height: auto;
}

.Seperator{
    background-color: #004780;
    color: #004780;
}

footer{
    background-color: #004780;
    color: white;
    
}

.menu{
    background-color: #004780;
}
